* {
	box-sizing: border-box;
}
.container{
	background-color: #f2f2f2;
	height: 250px;
	text-align: center;
}
.img{
float:left;
}
.img-link{
	width:260px;
height: 250px;
margin-left: 20px;
}
.header{
	float:left;
	font-size:40;
	width: 600px;
	height: 300px;
		padding-top: 50px;
	padding-left:100px;

}

.contact{
	position: relative;
	padding:10px;
	float: left;
	width:300px;
	border: 1px solid hotpink;
	border-radius: 10px;
	background-color: #d3d3d3;
	margin-left: 20px;
}
h4{
	font-size: 18px;
}
h2{
	font-size: 20px;
}
.edu{
float:left;
background-color: #d3d3d3;
border-radius: 10px;
padding: 10px;
margin-left: 50px;

}
.experience{
float: left;
width: 450px;
padding: 10px;
margin-left: 50px;
}
.b{
	display: block;
	border-radius: 25px;
	padding: 10px;
	width: 400px;
	float: left;
		font-size: 20px;

	text-align: center;
	background-image: linear-gradient(to right, red , yellow);
}
.b1{
	border-radius: 25px;
	padding: 10px;
	width: 400px;
	float: left;
	font-size: 20px;
	text-align: center;
	background-image: linear-gradient(to right, red , yellow);
}
.b2{
	border-radius: 25px;
	padding: 10px;
	width: 400px;
			font-size: 20px;

	text-align: center;
	float: left;
	background-image: linear-gradient(to right, red , yellow);
}
.b3{
	border-radius: 25px;
	padding: 10px;
	width: 400px;
	font-size: 20px;

	text-align: center;
	float: left;
	background-image: linear-gradient(to right, red , yellow);
}
.b4{
	border-radius: 25px;
	padding: 10px;
	width: 400px;
		font-size: 20px;

	float: left;
	text-align: center;
	background-image: linear-gradient(to right, red , yellow);
}
.b5{
	border-radius: 25px;
	padding: 10px;
	width: 400px;
	float: left;
		font-size: 20px;

	text-align: center;
	background-image: linear-gradient(to right, red , yellow);
}
span{


}
.facebook {
	float: left;
	margin-top: -450px;
	margin-left: 40px;
}

.chat{
	margin-top: -150px;
	margin-left: 20px;
	border:1px solid green;
	border-radius: 8px;
	width: 300px;
	height: 300px;
	float: left;
}
.chat-head{
	display: flex;
	height: 50px;
	background-color: lightblue;

}
.chat-head p{
	text-align: center;
	margin-left: 10px;
	color: green;
	width: 300px;
	font-weight: bold;
}
.chat-body{
	display: block;
	width: 300px;
	float: left;
	
}
.chat-body h2{

}
.chat-body span{
	display: block;
	float: left;
	margin-top: 90px;
	margin-left: -200px;
	width: 500px;
	font-size: 16px;
}

.chat-footer{
	
}
textarea{
border: 1px solid green;
width: 300px;
height: -100px;

}

.button{
	background: blue;
	padding: 10px;
	margin-top: -50px;
	margin-left: 200px;

}